body{
    margin: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/* HEADER */
header{
    overflow: auto;
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
}
header ul a{
    display: block;
    margin-left: 15px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
header .nine-dot{
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    opacity: 0.55;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header .avatar{
    background-image: url(labron.jpg);
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 30px;
    cursor: pointer;
}
/* END OF HEADER */

/* MAIN */
.main{
    text-align: center;
    height: 469px;
}
.main .logo img{
    padding: 109px 0 30px;
    height: 92px;
    width: 272px;
}
.search-engine{
    display: inline-block;
    position: relative;
    margin: 0;
}
.search-engine .icon-search{
    z-index: 2;
    position: absolute;
    top: 15px;
    color: #9AA0A6;
    font-size: 14px;
    left: 15px;
    cursor: auto;
}
.search-engine input[type=text]{
    width: 582px;
    height: 44px;
    font-size: 17px;
    border: 1px solid #dfe1e5;
    border-radius: 22px;
    padding: 0 44px;
}
.search-engine input[type=text]:hover{
    box-shadow: 0px 1px 6px rgb(32,33,36,0.28);
}
.search-engine .micro{
    background: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    height: 24px;
    width: 24px;
    background-size: 100%;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.search-engine ul{
    padding: 0;
}
.search-engine ul li{
    display: inline-block;
}
.search-engine button[type=submit]{
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
}
.search-engine button[type=submit]:hover{
    border: 1px solid #c6c6c6;
    color: #222;
    background-color: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.language ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.language ul li{
    display: inline-block;
}
.language ul li a{
    padding: 0 3px;
    text-decoration: none;
}
.language ul li a:hover{
    text-decoration: underline;
}
/* END OF MAIN */

/* FOOTER */
footer .row1, .row2{
    padding: 0 30px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    overflow: auto;
}
footer .row1 .country{
    color: rgba(0,0,0,0.54);
    height: 40px;
    margin: 0;
    line-height: 40px;
    font-size: 16px;
}
footer .row2 ul{
    padding: 0;
}
footer .row2 ul li{
    display: inline-block;
}
footer .row2 ul li a{
    color: #5f6368;
    font-size: 14px;
    text-decoration: none;
    padding: 0 10px;
}
footer .row2 ul li a:hover{
    text-decoration: underline;
}
footer .row2 ul.fl li:first-child a{
    padding-left: 0;
}
footer .row2 ul.fr li:last-child a{
    padding-right: 0;
}
/* END OF FOOTER */